# 1. 자바 설치
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 2. Maven으로 JAR 파일 빌드 (이 과정이 있어야 Dockerfile이 작동함)
      - name: Build with Maven
        run: |
          cd petclinic-${{ matrix.service }}
          mvn clean package -DskipTests

      # 3. 도커 이미지 빌드 및 푸시
      - name: Build and Push Docker Image
        run: |
          cd petclinic-${{ matrix.service }}
          docker build -t ${{ steps.login-ecr.outputs.registry }}/petclinic-${{ matrix.service }}:${{ github.sha }} .
          docker push ${{ steps.login-ecr.outputs.registry }}/petclinic-${{ matrix.service }}:${{ github.sha }}